<div class="bigMenu">    
    <div class="bigMenu-subSectionsHolder"> 
        <div class="bigMenu-subSections" >               
                <div class="nav bigMenu-subcategory">
                        <h3 class="bigMenu-subcategoryTitle">{{title}}</h3>   
                        {{#if subtitle}}
                            <h4 class="bigMenu-categorySubTitle">{{subtitle}}</h4>             
                        {{/if}}    
                   <div class="bigMenu-subSections">
                    <nav class="nav nav--dropdown u-pdt--half">                        
                        {{#each subcategories}}
                           <a href="#" class="bigMenu-item nav-item" {{#if image}} data-js-image="{{image}}"{{/if}} >{{name}}</a>
                        {{/each}}
                        <a href="#" class="cardElem-more--menu bigMenu-item--all">VER TODO</a>
                    </nav>
                    <nav class="nav nav--dropdown u-pdt--half">
                      
                    </nav>
                  </div>   
                </div>
                {{#if image}}
                 <img src="{{image}}" class="bigMenu-subsectionImage" />
                {{/if}}
        </div>
    </div>
</div>