
{{#each options }}
<div class="filter-option  filter-option--color">
<input type="checkbox" class="cardList-inputToggle filter-colorInput" id="{{name}}Id"><label class="filter-colorlabel" for="{{name}}Id"  >
<span class="filter-colorItem" style="background:{{background}}; color:{{border}};"></span>{{name}}
</label>
</div>
{{/each}}













