<nav data-js-lang="list" class="langlist langlist--select" id="{{langListId}}">
    <input type="checkbox" class="langlist-opencheckbox" id="{{checkboxId}}">
    <div class="langlist-selectedItem">
        <label data-js-lang="selected" class="langlist-selected" for="{{checkboxId}}">
            <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                <use xlink:href="../../img/icons/svg-defs.svg#icon-es"></use>
            </svg>
            Español
        </label>
    </div>
    <label class="langlist-labelclose" for="{{checkboxId}}"></label>
    <ul class="langlist-container">
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-es"></use>
                </svg>
                Español</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-en"></use>
                </svg>
                English</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-fr"></use>
                </svg>
                Français</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-pt"></use>
                </svg>
                Português</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-ro"></use>
                </svg>
                Română</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-it"></use>
                </svg>
                Italiano</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-hu"></use>
                </svg>
                Magyar</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-lt"></use>
                </svg>
                Lietuvių</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-si"></use>
                </svg>
                Slovenščina</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-bg"></use>
                </svg>
                български</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-dk"></use>
                </svg>
                Dansk</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-fi"></use>
                </svg>
                Suomi</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-sk"></use>
                </svg>
                Slovenčina</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-hr"></use>
                </svg>
                Hrvatski</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-lv"></use>
                </svg>
                Latviešu</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-pl"></use>
                </svg>
                Polski</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-ee"></use>
                </svg>
                Eesti</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-ru"></use>
                </svg>
                русский</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-cz"></use>
                </svg>
                čeština</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-gr"></use>
                </svg>
                ελληνικά</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-de"></use>
                </svg>
                Deutsch</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-se"></use>
                </svg>
                Svenska</label>
        </li>
        <li class="langlist-item">
            <label data-js-lang="item" class="langlist-link" for="{{checkboxId}}">
                <svg class="icon langlist-icon icon--inline icon--xs" role="img">
                    <use xlink:href="../../img/icons/svg-defs.svg#icon-nl"></use>
                </svg>
                Nederlands</label>
        </li>
    </ul>

    <input type="hidden" name="{{hiddenFieldName}}" data-js-lang="{{jsAnchor}}" />
</nav>