<li class="featuredSlider-item">
  <div class="homeslider-boxed">
    <aside class="homeslider-message">
      <p class="homeslider-texts{{#if alt}} homeslider-texts--alt{{/if}}">
       {{text1}}
       {{#if text2}}<br>{{text2}}{{/if}}
       {{#if text3}}<br>{{text3}}{{/if}}
     </p>
     {{#if subtitle1}}
     <p class="homeslider-subtitles">
       {{subtitle1}}
       {{#if subtitle2}}<br>{{subtitle2}}{{/if}}
       {{#if subtitle3}}<br>{{subtitle3}}{{/if}}
     </p>
     {{/if}}
     <button class="button button--primary homeslider-button" title="{{buttontext}}">{{buttontext}}</button>
   </aside>
    {{#if svgImg}}
     <img src="../../img/banners/{{svgImg}}.svg" class="homeslider-svgimg" >

     {{/if}}
      {{#if svgImgAlt}}

     <img src="../../img/banners/{{svgImgAlt}}.svg" class="homeslider-svgimg homeslider-svgimg--alt" >

     {{/if}}

 </div>
 {{#if img}}
 <img src="../../img/banners/{{img}}.jpg" class="homeslider-img">
 {{/if}}
 {{#if pngImg}}
 <img src="../../img/banners/{{pngImg}}.png" class="homeslider-img">
 {{/if}}
</li>
